.exercises-container {
	display: flex;
	flex-direction: column;

	.exercise {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 50px;
		border-bottom: 1px solid grey;	

		&.selected {
			background-color: rgba(255,255,255,.1);
		}

		span {
			margin-left: 10px;
		}
	}
}