<template name="routines">
	<div class="routines-container wrapper">
		{{#each this}}
			<div class="routine" data-id={{ this._id }}>
                <div class="routine-info">
                    <div>
                        <span>{{routineName}}</span>
                    </div>
                    <div>
                        <span>{{fitnessType}}</span>
                        <span>{{difficulty}}</span>
                        <span>{{workoutFrequency}}</span>
                    </div>
                </div>
                {{#if addingToSet}}
                    <i class="fa fa-plus"></i>
                {{/if}}
			</div>
		{{/each}}
	</div>
	
</template>